/react-03 initalizeApp/node_modules
/react-04 initalizeAppNpm/node_modules
/react-03 initalizeApp/dist
/react-04 initalizeAppNpm/dist
/react-03 initalizeApp/.parcel-cache/*
/react-04 initalizeAppNpm/.parcel-cache/*

